// required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
// end of the required

// the things I might use
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/reboot";
// end of the things

html {
    background-color: beige;
    font-family: "Raleway", sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
}

#bg_in {
    background-image: linear-gradient(
        125deg,
        rgb(82, 112, 188) 0%,
        rgb(153, 56, 160),
        rgb(224, 0, 132)
    );
    height: 800px;
}

header {
    nav img {
        margin-left: 97px;
        margin-top: 8px;
    }
    ul {
        margin-left: auto;
    }
    ul li {
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-weight: lighter;
        line-height: 1.2;
        margin-right: 50px;
        margin-top: 25px;
    }

    li a {
        color: rgb(255, 255, 255);
    }
}

// 1st section
#front_page {
    height: 800px;
    color: white;
    text-align: center;
    h1 {
        font-size: 40px;
        font-weight: bold;
        line-height: 1.15;
        margin-top: 80px;
    }

    p {
        line-height: 1.556;
        font-size: 18px;
        margin-top: 25px;
    }

    .laptop-holder {
        position: relative;
    }

    .laptop-holder img {
        margin-top: 70px;
        position: absolute;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 0;
        z-index: 5;
    }
}

// start of icons

// twitter icon
#six {

    position: absolute;
    left: 245px;
    top: 305px;

}

// basketball icon
#five {

    position: absolute;
    top: 500px;
    left: 300px;

}

// Naugat Icon
#four {

    position: absolute;
    right: 250px;
    top: 300px;
    z-index: 6;

}

// Snapchat icon
#three {

    position: absolute;
    right: 250px;
    top: 460px;

}

// Be icon
#two {

    position: absolute;
    right: 225px;
    top: 530px;
    z-index: 6;

}

// whatsapp icon
#one {

    position: absolute;
    left: 250px;
    top: 540px;
    z-index: 6;

}

// end of icons

