// required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
// end of the required

// the things I might use
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/reboot";
// end of the things

html {
    background-color: beige;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
}

header {
    nav {
        position: absolute;
    }
    nav img {
        margin-left: 97px;
        margin-top: 8px;
    }
    ul {
        margin-left: auto;
    }
    ul li {
        font-size: 16px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        font-weight: lighter;
        line-height: 1.2;
        margin-right: 50px;
        margin-top: 25px;
    }

    li a {
        color: rgb(255, 255, 255);
    }
}